{% extends 'health/base.html' %}

{% block content %}
    <h3>Doctor {{ user.username }}'s Homepage</h3>
    <h5>Announcements</h5>
    <ul>
    {% for announcement in announcements %}
        <li>
            Announcement: {{ announcement.content }}<br>
            Publish date: {{ announcement.send_date }}<br>
        </li>
        <form action="{% url 'health:operations' 'delete_announcement' %}" method="post">
        {% csrf_token %}
            <input type="hidden" name="announcement_id" value="{{ announcement.id }}"/>
            <button type="submit">Delete</button>
        </form>
    {% endfor %}
    </ul>

    <h6>Publish Announcement</h6>
    <form action="{% url 'health:operations' 'publish_announcement'%}" method="post">
        {% csrf_token %}
        Content: <input type="text" name="content">
        <button type="submit">Publish</button>
    </form>
    <h5>Patient List</h5>
    <ul>
    {% for patient in patients %}
        <li>Patient: <a href="{% url 'health:patient_homepage' patient.id %}">{{ patient.username }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
