{% extends 'health/base.html' %}
{% block title %}DASHBOARD{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <!--COL-ONE-for-self-->
            {% if self %}
                <div class="col-sm-12 col-md-4 box">
                    <!--HEALTHDATA-->
                    <div class="panel panel-left">
                        <div class="panel-heading">
                            <h3 class="panel-title" data-text="FIVE DAYS HEALTH DATA">FIVE DAYS HEALTH DATA&nbsp;</h3>
                        </div>
                        <div class="panel-body">
                            {% if health_datas %}
                                <table class="table table-striped table-hover ">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>HEART RATE</th>
                                        <th>WEIGHT</th>
                                        <th>TEMPERATURE</th>
                                        {#                                        <th>NOTE</th>#}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for health_data in health_datas %}
                                        {#                                    {% for hdata in all_hdata %}#}
                                        {% if forloop.counter < 6 %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ health_data.heart_rate }}</td>
                                                <td>{{ health_data.weight }}</td>
                                                <td>{{ health_data.temperature }}</td>
                                                {#                                                <td>{{ hdata.note }}</td>#}
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <form action="{% url 'health:healthdata_page' page_owner.id %}">
                                    {#                                {% csrf_token %}#}
                                    <button class="btn btn-success col-md-offset-3 col-md-5">MORE / RECORD</button>
                                </form>
                            {% else %}
                                <h3>You don't have any data</h3>
                            {% endif %}
                        </div>
                    </div>
                    <!--TASK-->
                    <div class="panel panel-left">
                        <div class="panel-heading">
                            <h3 class="panel-title" data-text="DOCTOR RECOMMENDATION TASK">DOCTOR RECOMMENDATION
                                TASK&nbsp;</h3>
                        </div>
                        <div class="panel-body">
                            {% if tasks %}
                                <table class="table table-striped table-hover ">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>CONTENT</th>
                                        <th>TIME</th>
                                        {% if not self %}
                                            <th>DELETE</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for task in tasks %}
                                        {% if forloop.counter < 4 %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ task.content }}</td>
                                                <td>{{ task.send_date }}</td>
                                                <td>
                                                    {% if not self %}
                                                        <form action="{% url 'health:doctor_operations' page_owner.id 'delete_task' %}"
                                                              method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="task_id" value="{{ task.id }}"/>
                                                            <button type="submit">Delete</button>
                                                        </form>
                                                    {% endif %}
                                                </td>
                                                {#                                                <td>{{ hdata.note }}</td>#}
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <form action="{% url 'health:task_page' page_owner.id %}">
                                    {#                                {% csrf_token %}#}
                                    <button class="btn btn-success col-md-offset-3 col-md-5">MORE</button>
                                </form>
                            {% else %}
                                <h3>You don't have any data</h3>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!--COL-ONE-for-doctor-->
            {% else %}
                <div class="col-sm-12 col-md-6 box">
                    <!--HEALTHDATA-->
                    <div class="panel panel-left">
                        <div class="panel-heading">
                            <h3 class="panel-title" data-text="HEALTH DATA OF CLIENT: {{ page_owner }}"> HEALTH DATA OF
                                CLIENT: {{ page_owner }}&nbsp;</h3>
                        </div>
                        <div class="panel-body" style="max-height: 275px; overflow: scroll">
                            {% if health_datas %}
                                <table class="table table-striped table-hover ">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>HEART RATE</th>
                                        <th>WEIGHT</th>
                                        <th>TEMPERATURE</th>
                                        {#                                        <th>NOTE</th>#}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for health_data in health_datas %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ health_data.heart_rate }}</td>
                                            <td>{{ health_data.weight }}</td>
                                            <td>{{ health_data.temperature }}</td>
                                            {#                                                <td>{{ hdata.note }}</td>#}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <h3>You don't have any data</h3>
                            {% endif %}
                        </div>
                    </div>
                    <!--TASK-->
                    <div class="panel panel-left">
                        <div class="panel-heading">
                            <h3 class="panel-title" data-text="RECOMMENDATION TASKS OF CLIENT: {{ page_owner }}">
                                RECOMMENDATION TASKS OF CLIENT: {{ page_owner }}&nbsp;</h3>
                        </div>
                        <div class="panel-body" style="max-height: 275px; overflow: scroll">
                            {% if tasks %}
                                <table class="table table-striped table-hover ">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>CONTENT</th>
                                        <th>TIME</th>
                                        {% if not self %}
                                            <th>DELETE</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for task in tasks %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ task.content }}</td>
                                            <td>{{ task.send_date }}</td>
                                            <td>
                                                {% if not self %}
                                                    <form action="{% url 'health:doctor_operations' page_owner.id 'delete_task' %}"
                                                          method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="task_id" value="{{ task.id }}"/>
                                                        <button class="btn btn-success col-md-10"
                                                                style="height: 25px; font-size: smaller" type="submit">
                                                            DELETE
                                                        </button>
                                                    </form>
                                                {% endif %}
                                            </td>
                                            {#                                                <td>{{ hdata.note }}</td>#}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <h3>You don't have any data</h3>
                            {% endif %}
                            <br>
                        </div>
                    </div>
                    <div class="panel panel-left">
                        <div class="panel-heading">
                            <h3 class="panel-title" data-text="PROVIDE NEW
                                RECOMMENDATION TASK">PROVIDE NEW
                                RECOMMENDATION TASK&nbsp;</h3>
                        </div>
                        <div class="panel-body">
                            <form action="{% url 'health:doctor_operations' page_owner.id 'create_task' %}"
                                  method="post">
                                {% csrf_token %}
                                <strong>CONTENT : </strong> <textarea class="form-control" rows="5"
                                                                      name="content"></textarea>
                                <br>
                                <button class="btn btn-success col-md-2 col-md-offset-10 " type="submit">PROVIDE
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
            <!--COL-TWO-->
            <div class="col-sm-12 col-md-6 box">
                <!--CHART-->
                <div class="panel panel-right">
                    <div class="panel-heading">
                        <h3 class="panel-title" data-text="TRACK HEALTH DATA">TRACK HEALTH DATA&nbsp;</h3>
                    </div>
                    <div class="panel-body">
                        {% if health_datas %}
                            <canvas id="myChart" width="400" height="200"></canvas>
                        {% endif %}
                    </div>
                </div>
                <!--HEALTH STATUS-->
                <div class="panel panel-right">
                    <div class="panel-heading">
                        <h3 class="panel-title" data-text="HEALTH STATUS">HEALTH STATUS&nbsp;</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-12 col-md-2 box">
                            <div class="second circle" style="margin-top: 10px">
                                <strong></strong>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-10 box" style="padding-left: 20px;">
                            {% if health_risk %}
                                <strong>HEALTH RISK:</strong>
                                <br>
                                <div style="max-height: 103px; overflow: scroll">
                                    {{ health_risk }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if not self %}
                    <div class="panel panel-right">
                        <div class="panel-heading">
                            <h3 class="panel-title" data-text="UPDATE HEALTH RISK">UPDATE HEALTH RISK&nbsp;</h3>
                        </div>
                        <div class="panel-body">
                            <strong>UPDATE HEALTH SCORE:</strong>
                            <br>
                            <form action="{% url 'health:doctor_operations' page_owner.id 'update_health_status' %}"
                                  method="post">
                                {% csrf_token %}
                                <select class="healthStatus" name="score"></select>
                                <button class="btn btn-success col-md-2 col-md-offset-10 " type="submit">UPDATE
                                </button>
                            </form>
                            <br>
                            <form action="{% url 'health:doctor_operations' page_owner.id 'update_health_risk' %}"
                                  method="post">
                                {% csrf_token %}
                                <strong>CONTENT : </strong><textarea class="form-control" rows="5"
                                                                     name="content"></textarea>
                                <br>
                                <button class="btn btn-success col-md-2 col-md-offset-10 " type="submit">UPDATE
                                </button>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
            <!--COL-THREE-->
            {% if self %}
                <div class="col-sm-12 col-md-2 box">
                    <!--DOCTOR-->
                    <div class="panel panel-last">
                        <div class="panel-heading">
                            <h3 class="panel-title" data-text="YOUR DOCTOR">YOUR DOCTOR&nbsp;</h3>
                        </div>
                        <div class="panel-body">
                            {% if doctor == None and self %}
                                <form action="{% url 'health:operations' 'choose_doctor' %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-success" type="submit">Select Doctor</button>
                                </form>
                            {% else %}
                                <div>
                                    ★&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Doctor: {{ doctor.username }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;★
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <!--NOTIFICATION-->
                    <div class="panel panel-last">
                        <div class="panel-heading">
                            <h3 class="panel-title" data-text="NOTIFICATION">NOTIFICATION&nbsp;</h3>
                        </div>
                        <div class="panel-body">
                            {% if unviewed_announcements %}
                                <table class="table table-striped table-hover " style="table-layout: fixed">
                                    <tbody>
                                    {% for new in unviewed_announcements %}
                                        {% if forloop.counter < 5 %}
                                            <tr>
                                                <td>
                                                    <div style="height: 20px; overflow:hidden;">{{ new.content }}</div>
                                                </td>
                                                <td style="width: 70px;overflow: hidden;">
                                                    <div style="height: 20px; overflow:hidden;">{{ new.send_date }}</div>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <form action="{% url 'health:calendar_page' page_owner.id %}">
                                    {#                                {% csrf_token %}#}
                                    <button class="btn btn-success col-md-offset-3 col-md-6"
                                            style="height: 28px; font-size: small">MORE
                                    </button>
                                </form>
                            {% else %}
                                <h3>You don't have any data</h3>
                            {% endif %}
                        </div>
                    </div>
                    <!--ACTIVITY-->
                    <div class="panel panel-last">
                        <div class="panel-heading">
                            <h3 class="panel-title" data-text="ACTIVITY">ACTIVITY&nbsp;</h3>
                        </div>
                        <div class="panel-body">
                            {% if activities %}
                                <table class="table table-striped table-hover " style="table-layout: fixed">
                                    <tbody>
                                    {% for activity in activities %}
                                        {% if forloop.counter < 5 %}
                                            <tr>
                                                <td>
                                                    <div style="height: 20px; overflow:hidden;">{{ activity.title }}</div>
                                                </td>
                                                <td style="width: 70px;overflow: hidden;">
                                                    <div style="height: 20px; overflow:hidden;">{{ activity.activity_time }}</div>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <form action="{% url 'health:calendar_page' page_owner.id %}">
                                    {#                                  {% csrf_token %}#}
                                    <button class="btn btn-success col-md-offset-3 col-md-6"
                                            style="height: 28px; font-size: small">MORE
                                    </button>
                                </form>
                            {% else %}
                                <h3>You don't have any data</h3>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <script type="text/javascript">
        var heart_rate = [];
        var weight = [];
        var temperature = [];
        var health_status = [{{ health_status }}];

        (function ($) {
            $('.second.circle').circleProgress({
                value: health_status / 100
            }).on('circle-animation-progress', function (event, progress) {
                $(this).find('strong').html(Math.round(health_status * progress) + '<i>%</i>');
            });
        })(jQuery);

        {% for health_data in health_datas %}
            {% if forloop.counter < 7%}
                heart_rate[{{ forloop.counter }}-1] = {{ health_data.heart_rate }}
                    weight[{{ forloop.counter }}-1] = {{ health_data.weight }}
                        temperature[{{ forloop.counter }}-1] = {{ health_data.temperature }}
            {% endif %}
        {% endfor %}
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["1", "2", "3", "4", "5", "6"],
                datasets: [{
                    label: '# HEART RATE',
                    data: heart_rate,
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)'
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)'
                    ],
                    borderWidth: 1
                }, {
                    label: '# WEIGHT',
                    data: weight,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)'
                    ],
                    borderWidth: 1
                }, {
                    label: '# TEMPERATURE',
                    data: temperature,
                    backgroundColor: [
                        'rgba(173, 45, 216,0.2)'
                    ],
                    borderColor: [
                        'rgba(173, 45, 216,1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        $(function () {
            var $select = $(".healthStatus");
            for (var i = 1; i <= 100; i++) {
                $select.append($('<option></option>').val(i).html(i))
            }
        });
    </script>
{% endblock %}
