{% extends 'health/base.html' %}

{% block content %}
    <h3>EndUser {{ page_owner.username }}'s homepage</h3>
    {% if doctor == None and self %}
        <form action="{% url 'health:operations' 'choose_doctor' %}" method="post">
            {% csrf_token %}
            <button type="submit">Select Doctor</button>
        </form>
    {% else %}
        <h5>--Doctor: {{ doctor.username }}--</h5>
    {% endif %}

    <div id="activity">
    <h5>Activities:</h5>
        <ul>
            {% for activity in activities %}
                <li>
                    Time: {{ activity.activity_time }}<br>
                    Title: {{ activity.title }}<br>
                    Content: {{ activity.content }}<br>
                </li>
                {% if self %}
                <form action="{% url 'health:operations' 'delete_activity' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="activity_id" value="{{ activity.id }}"/>
                    <button type="submit">Delete</button>
                </form>
                {% endif %}
            {% endfor %}
        </ul>
    <form action="{% url 'health:operations' 'create_activity' %}" method="post">
        {% csrf_token %}
        Datetime: <input type="datetime-local" name="time"><br>
        Title: <input type="text" name="title"><br>
        Content: <input type="text" name="content"><br>
        <button type="submit">Create</button>
    </form>
    </div>

    <h5>Health data:</h5>
    <ul>
    {% for health_data in health_datas %}
        <li>
        Heart rate: {{ health_data.heart_rate }}
        Weight: {{ health_data.weight }}
        Temperature: {{ health_data.temperature }}
        </li>
    {% endfor %}
    </ul>
    {% if self %}
    <h5>Create health data:</h5>
    <form action="{% url 'health:operations' 'create_health_data' %}" method="post">
        {% csrf_token %}
        Heart rate: <input type="text" name="heart_rate"/><br>
        Weight: <input type="text" name="weight"/><br>
        Temperature: <input type="text" name="temperature"/><br>
        <input type="submit" name="Submit"/>
    </form>
    {% endif %}


    <h5>Announcements:</h5>
    <h6>New</h6>
    <ul>
    {% for new in unviewed_announcements %}
        <li>
        Content: {{ new.content }}<br>
        Publish Date: {{ new.send_date }}
        </li>
    {% endfor %}
    </ul>


    <h5>Tasks:</h5>
    <ul>
    {% for task in tasks %}
        <li>
        Content: {{ task.content }}<br>
        Publish Date: {{ task.send_date }}
        </li>
        {% if not self %}
        <form action="{% url 'health:doctor_operations' page_owner.id 'delete_task' %}" method="post">
        {% csrf_token %}
            <input type="hidden" name="task_id" value="{{ task.id }}"/>
            <button type="submit">Delete</button>
        </form>
        {% endif %}
    {% endfor %}
    </ul>

    {% if not self %}
        <h5>Create Task</h5>
        <form action="{% url 'health:doctor_operations' page_owner.id 'create_task' %}" method="post">
        {% csrf_token %}
        Task content:<input type="text" name="content"/>
        <button type="submit">Create</button>
        </form>
    {% endif %}

{% endblock %}
